
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<BusinessManagement.Models.Project>

@{
    ViewData["Title"] = "PROJECTS";
    var errorMseeage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
<h3>@ViewData["Title"]?.ToString()</h3>
<br />
@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <b>Success: </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMseeage))
{
    <div class="alert alert-danger">
        <b>Error: </b>@errorMseeage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<style>
    table{
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
</style>
<form>
    @*<button asp-action="Create" asp-controller="Bids" class="btn btn-primary mb-3">New Bids</button>*@
    <table class="table">
        <thead>
            <tr class="table-active table-bordered table-hover">
                <th>Title</th>
                <th>URL</th>
                <th>Client</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.Title</td>
                    <td>@project.Url</td>
                    <td>@project.ClientId</td>
                    
                </tr>
            }

        </tbody>
    </table>
</form>

