
@model BusinessManagement.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/layoutBlank.cshtml";
    var errorMseeage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}

<style>
    #back{
        background-image: url(https://plus.unsplash.com/premium_photo-1677093905933-22469186a34b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <b>Success: </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMseeage))
{
    <div class="alert alert-danger">
        <b>Error: </b>@errorMseeage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container" style="min-height:550px;">
    <div class="row">
        <div class="col-sm-3"></div>
        <div id="back" class="col-sm-6 col-md-6 col-lg-6 border border-success rounded pt-5 pe-5 ps-5 pb-5">
            <form method="post" asp-action="ForgotPassword">
                <p class="text-center fs-3">
                    FORGOT <b class="text-success">
                        PASSWORD <i class="fa-solid fa-lock fa-spin"></i>
                    </b>
                </p>
                <div class="form-group input-group">
                    <label class="input-group-text" asp-for="UserName"><i class="fa fa-user fa-spin"></i></label>
                    <input type="text" asp-for="UserName" maxlength="50" placeholder="Enter Username" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group mt-3">
                    <input type="submit" class="btn rounded-pill btn-success mb-2 form-control" value="Recover Password" />
                </div>
                <div class="form-group  text-center">
                    <a style="text-decoration:none; color:black;" href="@Url.Action("login", "Account")"><b>LogIn</b></a>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
