@model BusinessManagement.Models.Clients
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Create Client";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@*<h3>@ViewData["Title"]</h3>
<hr />*@

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error: </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div id="hides"></div>
<div class="row" style="margin-top:50px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 border border-success rounded pt-1 pe-5 ps-5 pb-1" style="background-image:linear-gradient(45deg,#7fe39f,#c04ff0)">

        <form action="Create" method="post">
            <p class="text-center fs-3">
                CREATE <b class="text-success">
                    CLIENT <i class="fa-solid fa-plus fa-spin"></i>
                </b>
            </p>
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label class="form-label">Client<b class="text-danger">*</b></label>
                    <input type="text" class="form-control" asp-for="Name" maxlength="50" placeholder="Client Name" /> <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label class="form-label">Email<b class="text-danger"></b></label>
                    <input type="text" class="form-control" maxlength="50" placeholder="Enter Email_ID" asp-for="Email" /> @*<span asp-validation-for="Email" class="text-danger"></span>*@
                </div>
                
            </div>



            @*<div class="row mb-2">
                <div class="col-sm-12">
                    <label class="form-label">Address<b class="text-danger">*</b></label>
                    <input type="text" placeholder="Enter Address" class="form-control" asp-for="Address" /> <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                
            </div>

            <div class="row mb-2">
               <div class="col-sm-12">
                    <label class="form-label">Notes<b class="text-danger">*</b></label>
                    <input type="text" class="form-control" placeholder="Please Leave a Note" asp-for="Notes" /> <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

            </div>*@
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label class="form-label">Address<b class="text-danger">*</b></label>
                    <textarea placeholder="Enter Address" maxlength="500" class="form-control More" asp-for="Address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-12">
                    <label class="form-label">Notes<b class="text-danger">*</b></label>
                    <textarea class="form-control More" maxlength="500" placeholder="Please Leave a Note" asp-for="Notes"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>




            <div class="row mb-5">
                

                <div class="col-sm-6">
                    <label class="form-label">Country<b class="text-danger">*</b></label> <input type="text" maxlength="50" class="form-control" placeholder="Country" asp-for="Country" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Time Zone<b class="text-danger">*</b></label>
                    <input type="text" class="form-control" maxlength="50" placeholder="Enter TimeZone" asp-for="TimeZone" /> <span asp-validation-for="TimeZone" class="text-danger"></span>
                </div>

                

                
            </div>

            <div class="row mb-3">
                <div class="col-sm-5"> <button type="button" onclick="window.location.href = '/Client/Index'" class="btn form-control rounded-pill btn-secondary">Cancel</button></div>

                <div class="col-sm-2"></div>
                <div class="col-sm-5"><button type="submit" class="btn form-control rounded-pill btn-primary">Submit</button></div>
               
            </div>
        </form>



    </div>
    <div class="col-sm-3"></div>
</div>

@if (Model != null)
{
    @if (Model.Email == null)
    {
        @section Scripts
        {
               @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
        }
    }

}




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  

    $(".More").keyup(function () {
        if ($(this).val().length >= 499) {
            $("#hides").html('<div class="alert alert-danger">You Can not Input more then 500 Character.<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button></div>');
        }
    });


</script>